[2017-07-04 00:38] gusaus opened #1 "Find out what Josh is planning for Drupal Dojo website."
We should hold off building any site for Drupal Dojo until we get more info from Josh regarding his plans for the Drupal 8 Dojo site.

[2017-07-04 01:42] gusaus opened #2 "Outline process for setting up development environment on Pantheon"
We should document how we the development environment on and code repo are set up. Did we fork this repo? https://github.com/lquessenberry/OpenSocialOnPantheon

Are we able to pull in the latest Open Social code this way? What else do we need set up on Pantheon? I believe we have the ability to set up Multidev if that's what we need.
https://pantheon.io/docs/pantheon-workflow/

Do we need someone

[2017-07-04 01:42] gusaus opened #7 "Outline Pantheon development and configuration workflow"
We should document how we the development environment on and code repo are set up. Did we fork this repo? https://github.com/lquessenberry/OpenSocialOnPantheon

Are we able to pull in the latest Open Social code this way? What else do we need set up on Pantheon? I believe we have the ability to set up Multidev if that's what we need.
https://pantheon.io/docs/pantheon-workflow/

Do we need someone

[2017-07-06 00:56] johnatasjmo commented on #7
code has been force pushed to pantheon using instructions on https://github.com/lquessenberry/OpenSocialOnPantheon

This is a composer flavour site, therefore all module updates should be done using composer.

For better deployment, we should create one environment per pull request using multidev in pantheon.  Someone else should take the lead for development now that site is set up. Pantheon has

[2017-07-28 21:12] gusaus commented on #1
Josh mentioned in [#drupal-dojo Slack](https://drupal.slack.com/archives/C5NR9LLNT/p1500512153968313) he won't have any Dojo time until possibly the fall.

As [mentioned in this thread](https://drupal.slack.com/archives/C5NR9LLNT/p1499471880326164), we have the people, platform, and the Pantheon to build out, maintain, and sustain a solid D8 Drupal Dojo site right now.

If Josh can point or txfer

[2017-07-31 19:37] joshkoenig commented on #1
If you can build out a good site on Pantheon I'm happy to transfer the domain back! Please don't let that be a blocker. I'm happy to point it at the platform or xfer back to you if I don't get around to making use of anything.

In the mean-time, the real work of creating a site can proceed. Just use the Pantheon default platform domain. ;)

[2017-08-01 01:43] gusaus opened #3 "Set up project on drupal.org"
As a Drupal site and program, we'll want to manage the project and ongoing program on drupal.org.

That said we need to determine the following:
- What is the project type?
- What do we call the project?
- Who are the maintainer(s)?

[2017-08-01 01:43] gusaus opened #8 "Set up project on drupal.org"
As a Drupal site and program, we'll want to manage the project and ongoing program on drupal.org.

That said we need to determine the following:
- What is the project type?
- What do we call the project?
- Who are the maintainer(s)?

[2017-08-01 01:54] gusaus commented on #8
I'm assuming this would be a [Distribution](https://www.drupal.org/project/project_distribution) since we're using [Open Social](https://www.drupal.org/project/social) as a base.

Thoughts?

[2017-08-01 07:06] gusaus commented on #8
Should we call it Drupal Dojo or some other generic name that describes the distribution?

I'm thinking all activities (including building & maintaining the site) would fall under the 'Drupal Dojo' project... even though a previous attempt at the master plan was to call the distro [Open Learning and Collaboration Portal](https://groups.drupal.org/open-learning-and-collaboration-portal).

Consolida

[2017-08-01 08:56] gusaus commented on #1
Thanks @joshkoenig - based on the group of [mentors/leads coming onboard](https://github.com/DrupalOpenLearning/administration/issues/1), I'm thinking the site(s) are going to be pretty solid!

We're basically using this repo as a staging/back to the future environment, but the plan is to dust off the [drupal group](https://groups.drupal.org/drupal-dojo) and [projects](https://github.com/DrupalOpe

[2017-08-02 22:17] joshkoenig commented on #1
For my part, I would like to use the primary domain as a simple site that explains the Dojo concept to those who are not familiar, and helps people find the right place to engage. I think this could be up and running with less effort or pre-requisites.

Beyond that, I am most interested in tapping into the existing community of experts to start sharing best practices. There are enough developers w

[2017-08-04 02:34] gusaus opened #4 "Scope out MVP for Drupal Dojo 10"
Let's begin by updating the previous site spec -
https://docs.google.com/document/d/1wd78vPJ4aReZj4Rini7ATxOhpjDjg3qKL3l93jghcjw/edit?usp=sharing

[2017-08-04 02:34] gusaus opened #5 "Scope out MVP for Drupal Dojo relaunch"
Let's begin by updating the previous site spec -
https://docs.google.com/document/d/1wd78vPJ4aReZj4Rini7ATxOhpjDjg3qKL3l93jghcjw/edit?usp=sharing

[2017-08-04 20:01] gusaus opened #6 "Assemble team to develop and maintain the Drupal Dojo site"
Now that we've launched the MVP http://drupaldojo.com/ we can go back and identify roles to manage and maintain the website. As we're using [Open Social](https://www.drupal.org/project/social) as a base, we'd ideally like to provide ways to get involved with and improve that platform.

We're defining roles on the wiki -

- [ ] [Project Manager](https://github.com/DrupalOpenLearning/drupaldojo/wiki

[2017-08-08 08:15] gusaus commented on #5
I've started to copy elements of the [previous site spec](http://drupalopenlearning.org/drupal-dojo/web-design-and-development) into the current https://github.com/DrupalOpenLearning/drupaldojo/issues/4#issue-247886887. It still needs to be updated to reflect using [Coder Dojo](https://coderdojo.com/) as a model and [Open Socia](https://www.getopensocial.com/)l as a base distribution. http://dev-d

[2017-08-08 08:55] miesz-ko commented on #6
@gusaus

My recommendation would be to use Open Social without heavy modifications. We use it at our agency as an extranet/intranet and it works great. Then you can focus on these project roles and get the community started (some roles might overlap):

1. content creators
2. community builders
3. outreach + onboarding

Roles 1 + 2 might consider reposting the best of the old Drupal Dojo content to

[2017-08-08 09:14] ikit-claw commented on #1
I see no reason why we can't get that launched now. We seem to have a fair amount of support we could try and build on that momentum by pushing forward. Waiting will only lose us people. Less meetings more action ;)

[2017-08-08 09:25] ikit-claw commented on #6
What about some dedicated mentors? Over a forum for example. You could post your question and the mentor team could answer them? I'd prefer 1 on 1 mentoring but I understand that people are busy and this is not likely to be paid so many would not be available for a dedicated 1 on 1.

[2017-08-08 09:38] miesz-ko commented on #6
@ikit-claw

Mentors are a great idea! These could work in a few groups over specific subjects, or maybe on knowledge level (beginner/intermediate/expert)? The group admin would be the mentor. Bonus: all members will be notified of activity if they choose so in their profile.

I do recommend using some structure because otherwise you're back to the Slack / Drupal.org / Reddit experience that gives

[2017-08-08 09:41] ikit-claw commented on #6
@miesz-ko as I imagine it a user would select what they believe they can do we could have anything from documentation - tutorials - coder writing - basics of Drupal so on. Then it wants to be archived in a public way so everyone can find it and use the resource.

[2017-08-08 23:57] gusaus commented on #6
@miesz-ko @ikit-claw Great ideas and feedback! I think we'll be able to relaunch pretty fast if there are available people to [claim the roles needed to build the MVP](https://github.com/DrupalOpenLearning/drupaldojo/issues/5#issue-248103504).

Biggest needs IMHO would be

-  well organized people to refine scope/requirements DrupalOpenLearning/drupaldojo#5
-  someone to assume the technical proje

[2017-08-09 00:07] gusaus commented on #5
Cross posting related comments from https://github.com/DrupalOpenLearning/drupaldojo/issues/5

@miesz-ko https://github.com/DrupalOpenLearning/drupaldojo/issues/5#issuecomment-320894670

@ikit-claw https://github.com/DrupalOpenLearning/drupaldojo/issues/5#issuecomment-320901841

@miesz-ko https://github.com/DrupalOpenLearning/drupaldojo/issues/5#issuecomment-320905320

@ikit-claw https://github.co

[2017-08-09 21:07] gusaus commented on #1
@ikit-claw Next step https://github.com/DrupalOpenLearning/drupaldojo/issues/4

[2017-08-10 08:20] ikit-claw commented on #6
@gusaus I can assist with the environment if need be. Don't want to volunteer for every job lol. Though it is tempting.

[2017-08-11 01:54] gusaus commented on #6
@ikit-claw Want to assign yourself to DrupalOpenLearning/drupaldojo-old#2?

[2017-08-11 01:59] gusaus commented on #6
I added the roles to https://github.com/DrupalOpenLearning/drupaldojo/issues/5#issue-248103504 and linked to a wiki page - https://github.com/DrupalOpenLearning/drupaldojo/wiki/Team

Please add your name to whatever role you'd like to take on. Also add any other roles I'm missing. Content editor?

[2017-08-15 20:09] gusaus commented on #6
Gauging interest from Lyndsey's [Twitter thread](https://twitter.com/ok_lyndsey/status/887436061613346816) (and new contributors in #drupalopenlearning), it looks like a nice small #nfp & community theme for Drupal 8 is very doable.

As Drupal Dojo (still the largest [Drupal/community group](https://groups.drupal.org/drupal-dojo)) intends to use [Open Social](https://www.getopensocial.com/) (a Dru

[2017-08-16 22:04] ikit-claw commented on #7
Okay, I will get onto documenting this! Thanks

[2017-08-16 22:07] ikit-claw commented on #8
@gusaus this is a little confusing You tagged me in here and the create guide you have closed? Is that you are wanting to document? can we clarify and I can plan when to do it?

[2017-08-16 23:07] gusaus commented on #7
@ikit-claw I don't believe the code has been updated since @johnatasjmo set up per https://github.com/DrupalOpenLearning/drupaldojo/issues/2#issuecomment-313266103

Possibly you could follow up here or in Slack regarding what you need to document and update the code per the instructions?

If it turns out we need something else from Pantheon, we know some people on the inside. DrupalOpenLearning/dr

[2017-08-17 01:32] gusaus commented on #5
I'll let the experts incorporate into the site spec, but generally speaking I think CoderDojo provides a pretty good model for DrupalDojo. https://coderdojo.com/

Not just in the name, but it enables people to create or attend Dojos in their community. https://coderdojo.com/

I think the following sections may serve as inpiration -

- [About](https://coderdojo.com/about/)
- [Attend A Dojo](https:/

[2017-08-17 01:52] gusaus commented on #5
[Meetup.com](https://www.meetup.com/) also provides some good examples -

- [Find A Dojo](https://www.meetup.com/find/?allMeetups=false&keywords=drupal&radius=Infinity&userFreeform=Portland%2C+OR&mcId=z97205&mcName=Portland%2C+OR&sort=default&eventFilter=mysugg)
- [Calendar view](https://www.meetup.com/find/events/?allMeetups=false&keywords=drupal&radius=Infinity&userFreeform=Portland%2C+OR&mcId=z

[2017-08-17 08:16] gusaus commented on #7
Think we can add @ChandeepKhosa to the help with this task if needed queue:

@miesz-ko posted something related in #opensocial -

any help is appreciated, more info here : https://www.drupal.org/node/2898988

We should be able to direct new contributors to Open Social once we get this site and Dojo program rolling again.

[2017-08-18 17:58] johnatasjmo commented on #5
I like the idea of the meetup, a calendar view and attend a dojo and create a dojo. This is basically the idea behind meetup. It would be good also to share documents for creating a dojo and a theme for each dojo executed. As an example, in Miami we have a monthly meetup that is used as a training and sharing experiences.

[2017-08-18 21:58] gusaus opened #9 "Update the onboarding info on https://groups.drupal.org/drupal-dojo"
Even tho https://groups.drupal.org/drupal-dojo has been largely inactive, it hasn't prevented new people to consistently join. As it remains the [largest Drupal group](https://groups.drupal.org/groups?order=member_count&sort=desc&keys=), one of the most effective ways to reach and enage the community will be to update/organize the group to a point where contributors and learners know what to do.

[2017-08-18 23:22] gusaus commented on #9
So for the [Present a LIVE Drupal Dojo Session](https://groups.drupal.org/node/52023) page we should link to the [guidelines for using Twitch.tv]( https://github.com/DrupalOpenLearning/administration/issues/7)

[2017-08-21 08:13] lyndsey commented on #5
@gusaus is this your role to coordinate building and defining the function for the Dojo/meet up stuff above?

I'm going to focus on the project section, because I need to start using it for the nfp theme stuff

[2017-08-21 11:29] ikit-claw commented on #8
I plan to review everything today and update a lot of stuff. I think he means that chan can official be part of the team more than he has a specific task.

[2017-08-21 11:48] lyndsey commented on #8
Sounds great - ta!

[2017-08-21 11:53] ikit-claw commented on #8
Let's celebrate by closing an issue lol

[2017-08-21 12:19] lyndsey opened #10 "Set up Projects group type"
Objective: To create areas to display project information - projects that multiple Drupal people are working on together.

This involves:

Blog - to provide updates on projects
Events - relating to specific projects
Discussion - on projects

Development: Create a taxonomy for projects.
Created: "Projects" added term: Nfp #a11y theme.

[2017-08-21 13:16] ikit-claw opened #11 "Configure events"
Create and manage the events section for drupal dojo @gusaus Lyndsey suggested you could do this?

[2017-08-22 01:01] gusaus commented on #8
@ikit-claw I closed down https://github.com/DrupalOpenLearning/administration/issues/6 to consolidate here.

[2017-08-22 03:07] lyndsey commented on #12
I'll close this - duplication of #9 I'll rename mine for consistency

[2017-08-22 03:08] lyndsey commented on #12
ok I can't close.

[2017-08-22 04:13] lyndsey commented on #10
Added project taxonomy to 1) Topic content type; and 2) Events content type

[2017-08-22 04:55] lyndsey commented on #15
First issue: contextual links UI is disabled - this means you can't add new fields to content items - you can edit but not add new fields (deliberate set up - we enabled)

Duplication of fields - Add Fields - Reference #bug
![add field _ drupal dojo_2017-08-22_14-22-41](https://user-images.githubusercontent.com/1232190/29549177-b106707c-8745-11e7-8b00-999db2d4988f.png)

[2017-08-22 04:55] lyndsey commented on #15
Home page config is next on the list. Added new topic item. Why no display home page? *whaa*

[2017-08-22 05:05] lyndsey commented on #15
See - http://lets.getopensocial.com/manual-content-visibility "When a piece of content is created outside a group, the visibility of this piece of content can be configured for this specific content. When a piece of content is created inside a group, the visibility of this piece of content is set by the group it belongs to."

I can't see how to configure visability for specific content for a topic

[2017-08-22 05:07] lyndsey commented on #15
Promoted to front page and sticky at top of list were hidden for Topic display form - enabled those.

[2017-08-22 05:11] lyndsey commented on #15
Changing my topic to "Promoted to front page" did not make it display on front page.  It is in RHS box for newest topics, but it's not displaying in the /stream.

Also still can't seem to add my topic to a group

[2017-08-22 05:14] lyndsey commented on #15
Ok, you must create the topic/content from within a group. It's a trap for seasoned Drupal players.
Not being able to edit for a group is an issue

http://lets.getopensocial.com/node/35 @gusaus and @ikit-claw can you both take note of this please, because as you add content you will need it to be added to a group so it can be categorised and displayed correctly. At this stage I think projects can

[2017-08-22 05:26] lyndsey commented on #15
Ok I have an issue. I think we should be going with content open and public by default, not locked in groups. This is a major issue because all of the build for open social is the visibility in groups. I don't mind tearing that down, but we need to make a decision. Locking the content away behind a registered layer is contra to everything we are trying to do...

At this point I'm resisting the urg

[2017-08-22 05:27] lyndsey commented on #15
And still my new topic made in a group isn't displaying on the /stream page *grrrr*

[2017-08-22 07:49] lyndsey commented on #17
I've created a "Public Project Group" Drupal projects that are made publicly accessible for learning and development. Posts, events and comments are made public.

[2017-08-22 07:52] lyndsey commented on #17
Ahhhhhgghh you can't edit a group type once you've created it. So the problem is I have topics that I've created too.

[2017-08-22 20:43] gusaus commented on #5
@lyndsey Now that we're breaking the gdoc into tasks, I'm going to work the following examples into https://github.com/DrupalOpenLearning/drupaldojo/issues/14 and whatever issues pertain to organizing Dojo groups, events, and sessions.

https://github.com/DrupalOpenLearning/drupaldojo/issues/4#issuecomment-322944281
https://github.com/DrupalOpenLearning/drupaldojo/issues/4#issuecomment-322947034

[2017-08-22 21:04] gusaus commented on #5
@lyndsey Per https://github.com/DrupalOpenLearning/drupaldojo/issues/5#issuecomment-322574528 I think we can create a task for creating a #nfp & community theme for the Drupal Dojo site.

The theme would be committed back as a stand-alone project, but the Dojo site may be a catalyst for bringing people together and providing incentives for those interested in getting this done.

[2017-08-23 03:27] lyndsey commented on #15
Added text block field to basic block - it was just title. ? why - hopefullt this doesn't cause an issue

[2017-08-23 03:50] lyndsey commented on #15
Appearance information isn't visible as per: http://dev-drupal-dojo-open-social.pantheonsite.io

I created a site manager account to test in case that was the issue, but no. Nothing stands out in roles. Will dig into modules.

Enabled color module.

Still don't have the same color/theme configuration options as per - http://lets.getopensocial.com/node/91

refers to Social Sass theme http://lets.ge

[2017-08-23 03:53] lyndsey commented on #15
I'm unhappy not knowing how the home page content is rendered. I've got new topics displaying now in the main area, however they don't display to logged out users (only in RHS side bar)

[2017-08-23 03:59] lyndsey commented on #18
I'm keen to try replacing the blue links with green for one - #0F832D

the blue #29abe2 doesn't pass WCAG contrast

[2017-08-23 04:20] lyndsey commented on #18
Basic page (and assume all) don't accept png files - only gif jpg jpeg.

Updated to add png for image field in event, book, basic page and topic content type.

[2017-08-23 05:01] lyndsey commented on #15
I really like the image cropping function for the banner and the thumbnail. Add a content item and upload the image, then edit the item to see.

[2017-08-23 05:09] lyndsey commented on #15
Gahhh, once you create a block editing the text isn't enabled - unless I'm missing a D8 thing here - I need to reveiw another site I have - block front end editing isn't working.

See - http://dev-drupal-dojo-open-social.pantheonsite.io/node/25 the latest project module on the right has an incorrect link and I'm trying to edit.

[2017-08-23 14:47] ikit-claw commented on #6
These have been moved into the Project break down

[2017-08-23 14:48] ikit-claw commented on #20
@lyndsey , while I am adding modules, do you want any others?

[2017-08-23 14:50] ikit-claw commented on #19
Do we have a high-quality copy? I have Photoshop :)

[2017-08-23 14:57] ikit-claw commented on #18
@lyndsey

I've asked about the colour in #opensocial because I see no config for it.

I do see the rounded edges though can you verify?

I'll add a task to update Basic pages to accept PNGs

[2017-08-23 15:00] ikit-claw commented on #16
@lyndsey that sounds like the logical path and we can always change later if needed.

[2017-08-23 15:02] ikit-claw commented on #13
I think we can close this, for now, we can just push forward and review as needed.

[2017-08-23 15:04] ikit-claw commented on #12
Closed we will keep 9 for you :)

[2017-08-23 18:43] gusaus commented on #22
I thought it would be a good idea to have a [separate project board](https://github.com/DrupalOpenLearning/drupaldojo/projects/2) for tasks pertaining to managing and sustaining the Drupal Dojo program. This would include any ongoing work we do in all the related Dojo spaces https://github.com/DrupalOpenLearning/drupaldojo/wiki

Building and maintaining the Drupal Dojo website and any major compon

[2017-08-23 19:45] ikit-claw commented on #22
I agree case closed

[2017-08-23 20:23] gusaus commented on #19
@trevortwining was responsible for this fabulous work of art!

![dojo-header1](https://user-images.githubusercontent.com/113996/29636481-a6bae42a-8805-11e7-8fb8-d9446d15adc9.png)

Pretty sure Trevor doesn't have the hi rez format sitting around?

[2017-08-23 20:30] gusaus commented on #21
We were using a sponsored gotowebinar account the last time around. Now we'll be using Twitch.tv.

Think we can close out and followup here  https://github.com/DrupalOpenLearning/drupaldojo/issues/7

[2017-08-23 20:56] gusaus commented on #9
Similar to [previous incarnations](https://github.com/DrupalOpenLearning/drupaldojo/wiki/Setting-up-your-Twitch-and-OBS-for-stream-recording), I think we have a Drupal Dojo specific [wiki](https://groups.drupal.org/node/add/wikipage?gids[]=2191) of our [fabulous new Twitch.tv guidelines](https://github.com/DrupalOpenLearning/drupaldojo/wiki/Setting-up-your-Twitch-and-OBS-for-stream-recording). The

[2017-08-23 21:35] ikit-claw commented on #19
@lyndsey would this do I can sample it and resize

[2017-08-23 22:09] gusaus commented on #14
I created a wiki that should be more conducive for collaboration and tracking changes - https://github.com/DrupalOpenLearning/drupaldojo/wiki/Site-map

We'll need to work in some of the examples and suggestions in https://github.com/DrupalOpenLearning/drupaldojo/issues/4

[2017-08-24 00:03] ikit-claw commented on #8
So add drupal-dojo opensocial distribution varient to d.org

[2017-08-24 04:54] lyndsey commented on #20
I'm taking a very cautious approach to installing modules atm - I think we need to identify and then reveiw whether we can live without them. Or at least make sure we have stretched opensocial far enough before we do install more.

I cannot however live without sef paths.

[2017-08-24 04:56] lyndsey commented on #19
I'd like the original version with the clouds and the variations of the fonts too. The version in the site should be wider too.

I'm going to cut some of the parts for backgrounds on the title too - then they show in the nice thumb view

[2017-08-24 04:57] lyndsey commented on #15
@ikit-claw this is the running task I have documenting changes and findings - I'm hesitant to make changes at this point, waiting to see what I can happily work around and tasking as I go. But you can see my stream of conciousness (for what it's worth) around reveiwing and assessment

[2017-08-24 04:58] lyndsey commented on #18
@ikit-claw take a look at the links above - there should be config setting options for colour, radius of corners and fonts - this site doesn't - why?

[2017-08-24 05:00] lyndsey commented on #19
The orange drupal icon for a favicon would be awesome too, for those of us that get twitchy about favicons...

[2017-08-24 07:13] gusaus commented on #19
![dojologo](https://user-images.githubusercontent.com/113996/29654112-b904e9fe-8860-11e7-836d-bd14a59741c9.png)

![dojo-header](https://user-images.githubusercontent.com/113996/29654154-ead63e60-8860-11e7-8c14-800f5b53a5b4.png)

@trevortwining would you by any chance have any of the raw files tucked away somewhere?

[2017-08-24 13:42] ikit-claw commented on #20
@lyndsey pathauto is now available

[2017-08-24 13:48] ikit-claw commented on #18
@lyndsey because according to the folks in OpenSocial that isn't part of the defaults.

[2017-08-25 00:06] ikit-claw commented on #14
@gusaus when you say site wiki is this for the open social site or the GitHub?

[2017-08-25 07:53] gusaus opened #12 "Configure groups"
We should set up the following groups -

**Meetup**
Group for regional Drupal Dojos and related events. This would be similar to how some Drupal groups use Meetup.com https://www.meetup.com/Austin-Drupal-Users-Group/

- Stream
- About
- Events
- Topics
- Members
- Sponsors

**Program**
Group for Drupal programs and learning tracks. https://github.com/DrupalOpenLearning/drupaldojo/projects/3
- Stre

[2017-08-25 07:53] gusaus opened #23 "Set up groups"

[2017-08-25 21:38] gusaus commented on #11
Here is how events we set up on the previous Drupal Dojo site (Drupal 6!) - we created a custom content type 'session', but I'm assuming we'd be using the Event type in Open Social? http://lets.getopensocial.com/manual-events

There obviously are better ways of setting this up with Open Social, but hopefully this will serve as a guide.

**Fields**
![session drupal dojo 2017-08-25 14-23-17](https:/

[2017-08-26 01:57] gusaus opened #13 "Set up home page"
Home  page  should  include  a  login  form  for  authenticated  users,  a  dynamic  list  of  up‐to‐3  most  recent  “public” ‐ flagged  News  items  and  a  dynamic  list  of  up‐to‐5  upcoming  “public”‐ flagged  events,  as  well  as  an  area  for  home‐page  specific  content.  RSS  feed  should  be  available  for  publicly  available  news  and  events. 

[2017-08-26 01:57] gusaus opened #24 "Set up home page"
Home  page  should  include  a  login  form  for  authenticated  users,  a  dynamic  list  of  up‐to‐3  most  recent  “public” ‐ flagged  News  items  and  a  dynamic  list  of  up‐to‐5  upcoming  “public”‐ flagged  events,  as  well  as  an  area  for  home‐page  specific  content.  RSS  feed  should  be  available  for  publicly  available  news  and  events. 

[2017-08-28 01:08] ikit-claw commented on #7
I will follow up with Chan this week and see if he wants to have a pop at updating the site.

[2017-08-28 01:11] ikit-claw commented on #1
Josh hasn't really said anything about 'his plans' I've attempted to reach out him before should we try again? What do you think @lyndsey maybe he is just busy or doesn't really have much to add?

[2017-08-28 01:13] ikit-claw commented on #8
I think this listing can wait we have enough on updating everything else and getting some content going first.

[2017-08-28 01:47] ikit-claw opened #25 "Art Work"
We could use some new art work for YouTube.
You need to make it to the specific sizes so I doubt the current image will be viable.

Suggestions?

Anyone know someone who might make something for the channel?

We should also look to clearly identify the differences between Drupal Open Learning and the Drupal Dojo including separate art work for that more professional look.

[2017-08-28 01:52] ikit-claw opened #26 "Evaluate/set up 'Skill' vocabulary"
When listing a person's skills we need to make a list of skills they can do. So we can identify skill sets and what assets we have this would be a great stepping stone for the mentor scheme idea.

Categories:

- Themer
- Site Builder
- Developer

Developer

Levels:

- Novice
- Junior
- Senior

Skills:

- Git
- HTML
- HTML5
- CSS
- CSS3
- Sass
- Bootstrap
- JS
- PHP
- Symfony
- Drush
- DrupalConsol

[2017-08-29 11:04] ikit-claw commented on #13
This should be really easy to sort out once we have the content coming in

[2017-08-29 11:40] ikit-claw opened #27 "Create Dojo submission for sessions"
We can easily put together a Dojo session submission system to enable hosters to provide all the information we need. Via webforms module.

I know we have the Drupal Group but the fact is that is a rather dated approach we can manually add session details for people to the group. Once we have confirmed the session.

[2017-08-29 11:43] ikit-claw commented on #5
These are all great suggestions for content lets get the site updated and get to work on it.

[2017-08-29 11:45] ikit-claw commented on #10
Great planning we need to get the site into gear now. Then we can start to cross of these content issues!

[2017-08-29 11:47] ikit-claw commented on #11
Thanks for the info Gus soon as the site is updated we can get to add these.

[2017-08-29 11:47] ikit-claw commented on #14
Wiki example exists for this now so reference that for the Dojo site.

[2017-08-29 11:48] ikit-claw commented on #15
@lyndsey Thanks, this is all valuable information we can build into our docs. Priority 1 for today is to try and get someone to update the site for us who has pantheon experience try and cut through some of these issues we are having to battle.

[2017-08-29 11:49] ikit-claw commented on #17
Thanks, @johnatasjmo if you can document all the changes you make in the process so we can add it into the Dojo docs that would be amazing.

[2017-08-29 11:50] ikit-claw commented on #18
I think we need to do a howto for this given that it is not available by default. Kinda feels misleading to me, to be honest.

[2017-08-29 11:51] ikit-claw commented on #19
@gusaus is Trevortwining an artist? We could use more artwork.

[2017-08-29 12:21] ikit-claw commented on #12
Great break down for us to follow up with.

@gusaus these are the groups http://dev-dojo-os.pantheonsite.io/admin/group the 'group types' are so you can make groups that are semi predefined.

[2017-08-29 14:29] ikit-claw opened #28 "What to ask for with a Drupal Dojo session"
Presenter name:
Title of Session:
Session details:
Date / time / zone :
Expected duration :
Do they need help with the setup:
Sponsor:?
Supporting Organisation:?

[2017-08-29 18:30] johnatasjmo commented on #28
Same as meetup. Location with coordinates. Maybe level of knowledge (basic, intermediate, advanced).

[2017-08-29 18:38] ikit-claw commented on #28
Thanks will check against the meetup.

We've booked our first session

[2017-08-30 01:43] johnatasjmo commented on #26
I'd say just as skill list. Like tags the way freelancer.com or any freelancer site works. I think the skills list is good to start, users can add more.

[2017-08-30 01:45] johnatasjmo commented on #17
Good. I will get some support on this one. It is an interesting topic.

[2017-08-30 10:19] ikit-claw opened #29 "New Dev"
Because of the countless issues, we have encountered trying to update with composer and current lack of people coming forward to assist with it I and Lyndsey made the choice to spin up a fresh up to Dev copy of Open Social. So that we can clear the issues permanently.

Anyone wanting access should ping me and/or Lyndsey to get an account approved.

I think it is critical at this time that we get t

[2017-09-01 00:39] gusaus commented on #29
@ikit-claw Sounds like we'll have plenty of material for tutorials, case studies, and Dojo sessions about this site building experience (:

What's the url for the current dev environment. Can you add me?

[2017-09-01 01:16] ikit-claw commented on #29
It's here http://dev-dojo-os.pantheonsite.io/ just ping me or Lyndsey to active you on slack

[2017-09-01 20:49] gusaus commented on #27
Ideally we should have the session producers create the event directly from the Dojo group - https://groups.drupal.org/node/add/event?gids[]=2191

As long as we provide clear guidelines https://github.com/DrupalOpenLearning/drupaldojo/issues/7#issuecomment-324459863, the submission process should not be something Dojo organizers need to manage themselves.

The benefit of this approach is Dojo even

[2017-09-01 21:45] gusaus commented on #28
Presenters will be able to provide most of this info when they create an event from the Dojo group https://groups.drupal.org/node/add/event?gids[]=2191  https://github.com/DrupalOpenLearning/drupaldojo/issues/27#issuecomment-326680883

[2017-09-01 22:12] gusaus opened #30 "Update guidelines for presenting and attending a live Dojo session"
I dug up a very old, but pretty thorough wiki regarding presenting and attending a live Dojo session... created by the one and only webchick herself.

https://groups.drupal.org/node/3287

Thankfully we can switch out the skype, vnc, and IRC with slack and twitch... updating/detailing other roles (presenter, host, attendee, transcription/documentation manager) would definitely be useful.

[2017-09-01 23:41] ikit-claw commented on #8
I'd like to motion that rather than putting the dojo on d.org as a distribution we register it as a case study. That gives you ample scope to explain the reason for the site etc... we can still release a distribution with our modifications once we have enough to justify a release.

[2017-09-01 23:42] ikit-claw commented on #7
Everything I am doing is being documented Will close this ticket.

[2017-09-01 23:45] ikit-claw commented on #29
Now the 3 of us are admins we can close this anyone wanting to assist can message us for activation.

[2017-09-01 23:45] #29 closed

[2017-09-01 23:46] ikit-claw commented on #18
@lyndsey since this available now via the theme options I am closing this ticket

[2017-09-01 23:55] ikit-claw opened #31 "Post your daily goal"
Post your daily goal and if achieved to group team chat.

I'd like to know what people are doing so we can co ordinate a little better.

For me, we need a hard deadline of the 8th to achieve the site launch.

[2017-09-02 00:03] ikit-claw commented on #13
Populate home page add an RSS feed to the view. http://www.danielpickering.co.uk/Blog/Add-RSS-Feeds-to-Blocks-in-Drupal-8

[2017-09-02 04:56] lyndsey commented on #25
Here is link to Drupal logos https://www.drupal.org/about/media-kit/logos

[2017-09-02 17:44] ikit-claw commented on #31
![todays mission](https://user-images.githubusercontent.com/17749942/29997583-b88901c6-900e-11e7-9b52-0cb12ec3fee6.png)

This is why I am busy this weekend. I hope to get this done over the weekend though

[2017-09-03 01:22] lyndsey opened #14 "General configuration changes for dojo"
General site config changes/tracking that doesn't require individual tasks.

[2017-09-03 01:22] lyndsey opened #32 "Gernera configuration changes for http://dev-dojo-os.pantheonsite.io"
General site config changes/tracking that doesn't require individual tasks.

[2017-09-03 01:22] lyndsey commented on #14
Changes to Social Blue config settings - default colours do not pass wcag accessibility ie http://leaverou.github.io/contrast-ratio/#%2333b5e5-on-white

Keeping changes basic until we have a design - using Drupal blues.

[2017-09-03 01:36] lyndsey commented on #14
For some reason content and block fields don't have png by default - added to call to action block - will update as I go, but look out for this

[2017-09-03 01:57] lyndsey commented on #14
Note - you can't change the group you are posting content for.

Default should be public, community requires login

[2017-09-03 02:03] lyndsey opened #33 "Decision on registered user access and functions"
OS is designed to be a closed community. My preference is to keep it as open as possible. This needs to be clearly defined because once you have assigned a content item to a user group aas far as I can see you can't edit it.

[2017-09-03 02:05] lyndsey commented on #33
my personal preference is:

1. - Initially no login required to access content, posts, events, comments.
2. - I don't care either way re comments.
3. - Login should be encouraged with functions
4. - Remove the big default home page login/signup and replace with more subtle call to action on right of page and in footer

[2017-09-03 02:19] lyndsey commented on #33
Topics and events are public but groups and group content isn't.
You can set up groups so that their content is visible to non members of the group, but it means that they still need a login to see it.

The easiest approach if we want to open content up will be to change the community permission settings and then create a third access role. As community content is set by default for most things I

[2017-09-03 06:46] lyndsey commented on #14
Changed font to Lato - uploaded files - just coz

[2017-09-03 07:01] lyndsey commented on #14
Changed all content types to include png as file in field
Changed all to have public as visibility by default
Added webinars term to event taxonomy

[2017-09-03 07:07] lyndsey commented on #14
Vote types exist - that could be handy http://dev-dojo-os.pantheonsite.io/admin/structure/vote-types

[2017-09-03 07:13] lyndsey commented on #14
Added to profile: Drupal.org Link

Website or Blog (can be employer)

Enabled show email field in profile - existed but disabled - this needs testing (quick test says it doesn't - I'm an admin need to test with other groups, redisabling it)

[2017-09-04 05:20] gusaus commented on #33
I've yet to really dig in and get to know Open Social, but I agree 'open and public' should be the norm.

As mentioned in https://github.com/DrupalOpenLearning/drupaldojo/issues/23, I think a site like Meetup.com could serve as a guide:
https://www.meetup.com/Austin-Drupal-Users-Group/
https://www.meetup.com/Austin-Drupal-Users-Group/events/243031231/

[2017-09-04 05:29] gusaus commented on #31
My goal is to jump back into a regular commitment beginning Tuesday. Based on how the dev site is progressing.. thank you @lyndsey and @ikit-claw... I'm confident we're bringing the Dojo back for the long run.

[2017-09-05 21:55] gusaus commented on #11
When comparing config of the old site https://github.com/DrupalOpenLearning/drupaldojo/issues/10#issuecomment-325040222, most of the fields already ship with OpenSocial (below). It looks like we need the following fields set up

- [ ] Video
- [ ]  Presenters
- [ ]  Resources
- [ ] Sponsors

![manage fields drupal dojo 2017-09-05 17-20-05](https://user-images.githubusercontent.com/113996/30083954-7

[2017-09-05 22:11] gusaus commented on #11
Per https://github.com/DrupalOpenLearning/drupaldojo/issues/27#issuecomment-326680883 we'd ideally have the session producers create the event directly from the Dojo group - https://groups.drupal.org/node/add/event?gids[]=2191

It would be great to get a recommendation from Open Social leads on how to pull the g.d.o. events into the Dojo site.

[2017-09-06 23:51] ikit-claw commented on #31
Closing this now we have discussed what we are doing

[2017-09-06 23:51] #31 closed

[2017-09-06 23:52] ikit-claw commented on #11
I will set this up now @gusaus I should have it done Thursday or Friday

[2017-09-06 23:53] ikit-claw opened #34 "Bring a friend"
Get a session setup and ready to follow the 2 I have ready for September.

Doesn't have to be 2 a month now sure how sustainable that would be ultimately.

[2017-09-06 23:54] ikit-claw opened #35 "Promote the site and YouTube channel"
https://www.youtube.com/user/drupaldojo

[2017-09-06 23:55] ikit-claw opened #36 "Get a domain name"
Sort out what we are going to do for a domain name for the site.

[2017-09-07 16:13] gusaus opened #37 "Set up About page"
I added an abbreviated description of the Dojo from years past -
https://github.com/DrupalOpenLearning/drupaldojo/wiki/About

Possibly we could make some additions/revisions on the wiki as a draft

[2017-09-07 17:05] gusaus commented on #1
Per https://github.com/DrupalOpenLearning/drupaldojo/issues/1#issuecomment-319173414 we're planning to go live with the new MVP on Pantheon by the first new session on Monday!

@joshkoenig Would you now be able to point the domain(s) at the platform or xfer back to us? Whatever is quick and easy. Also we'll need to do whatever is the current protocol for getting on the site approved for Pantheon c

[2017-09-07 17:29] gusaus commented on #36
Per https://github.com/DrupalOpenLearning/drupaldojo/issues/1#issuecomment-327862689, we should have drupaldojo.com and drupaldojo.org pointed to the site.

[2017-09-08 10:49] ikit-claw commented on #11
any suggestions as to where the sponsor info should feature? This has it to display at the bottom of the event. That is kind of low impact. And I would envision this as having it fairly high up. And then at the very bottom, we would have possibly a previously sponsors carousel?

Just needs the sponsor information feedback and the video/resources section

[2017-09-08 11:06] ikit-claw commented on #11
![screencapture-live-dojo-os-pantheonsite-io-node-add-event-1504868752930](https://user-images.githubusercontent.com/17749942/30209087-1c2a5814-948e-11e7-9d70-e9de47224bfe.png)

A side from the sponsors we are good to go.

@gusaus do we have a starting sponsor ?

[2017-09-08 11:13] ikit-claw commented on #25
Added the banner to YouTube for now. Not great but it is something to show activity.

[2017-09-08 11:15] ikit-claw commented on #35
Current sub count 6

[2017-09-08 11:17] ikit-claw commented on #13
@gusaus want to add an RSS feed and if so to what section(s) ?

[2017-09-08 11:21] ikit-claw commented on #33
Was discussed at the group voice meeting

[2017-09-08 11:21] #33 closed

[2017-09-08 11:22] ikit-claw commented on #27
Events section is ready to rock.

[2017-09-08 11:22] #27 closed

[2017-09-08 11:49] ikit-claw commented on #30
Guideline updated

[2017-09-08 11:49] #30 closed

[2017-09-08 11:51] ikit-claw commented on #28
@gusaus is this different to the other registration page? Sorry am not a drupal-groups veteran

[2017-09-08 16:46] gusaus opened #38 "Set up 'Category or track' vocabulary"
Per our discussion we should use Drupalcons and Drupalcamps as a guide in terms of how to categorize sessions and tracks.

I believe the Drupalcon tracks are standardized with 'official' tracks being added from time to time. I'm wondering if it would be benefit the community to have identical tracks. In doing so, we could provide an outlet for multiple presentations between Drupalcons and camps.

[2017-09-08 17:02] gusaus opened #39 "Set up 'Difficulty level' vocabulary"
It's fairly standard for sessions to have a vocabulary for difficulty level. Should we provide something like this to help categorize sessions?

- Beginner
- Intermediate
- Advanced
- Expert

[2017-09-08 17:04] gusaus opened #40 "Set up 'Drupal version' vocabulary"
How bout a vocabulary for Drupal version

- Drupal 7
- Drupal 8

[2017-09-08 17:27] gusaus opened #41 "Evaluate/set up 'Session Type' vocabulary"
We had a vocabulary 'Type' on the previous website with the following terms -

- Lesson, Tutorial, or Howto
- Workshop, Sprint, or Project
- Discussion, Coffeetalk, or BOF
- Showcase, Case Study, or Demo

Would this be useful to categorize sessions in this fashion? I think this may overlap with the 'Event types' vocabulary already set up?

[2017-09-08 17:33] ikit-claw commented on #37
@gusaus I could use a few paragraphs from you about what you think the dojo is

[2017-09-08 17:41] gusaus commented on #11
This is starting to get real! I'm not sure if we want to replicate the taxonomy types that were associated with this content type in the last site https://github.com/DrupalOpenLearning/drupaldojo/issues/10#issuecomment-325040222

I created issues for the smart folks in this group to further evaluate -

- [ ] DrupalOpenLearning/drupaldojo-old#38
- [ ] DrupalOpenLearning/drupaldojo-old#39
- [ ] Drup

[2017-09-08 18:26] ikit-claw opened #42 "Extend taxonomy for presenters"
Extend the taxonomy to have fields for the users so that each user is linked back the D.org profile so on.

[2017-09-08 18:47] ikit-claw opened #15 "Create sponsor section"
Gold/silver/bronze page like badcamp https://2017.badcamp.net/sponsors

Individual session sponsorship shows sponsor info in the event details

Gold premium sponsorship shown in the footer of all sections.

[2017-09-08 18:47] ikit-claw opened #43 "Sponsorship options"
Gold/silver/bronze page like badcamp https://2017.badcamp.net/sponsors

Individual session sponsorship shows sponsor info in the event details

Gold premium sponsorship shown in the footer of all sections.

[2017-09-08 20:10] gusaus commented on #11
It helps to have an actual event plugged in :grinning: http://live-dojo-os.pantheonsite.io/node/1

![views beginner to advanced drupal dojo 2017-09-08 16-08-37](https://user-images.githubusercontent.com/113996/30229447-f9e399ec-94af-11e7-8c47-96aeace5d14a.png)

So we're going to upload a unique image for each session? Any ideas what to use to make them look...uhhh... clean and consistent?

[2017-09-08 20:14] ikit-claw commented on #11
@gusaus well that is the Open Social default we don't want to mess with it too much an image per session would be nice. Like I have been commenting on before we have a bit of a need for a budding artisan.

[2017-09-08 20:50] gusaus commented on #37
@ikit-claw I the previous blurb above in the issue description.

Not sure who wrote this, but it's pretty good! http://dev-drupal-dojo-open-social.pantheonsite.io/node/24

Also would be good to get some thoughts from the Dojo father @joshkoenig regarding 'Dojo style 2017'! https://github.com/DrupalOpenLearning/drupaldojo/issues/1#issuecomment-319814416

[2017-09-08 20:52] ikit-claw commented on #37
@gusaus will add the old blurb to the new site then :)

[2017-09-08 20:55] ikit-claw commented on #37
Added

[2017-09-08 22:08] gusaus commented on #11
I'm good with whatever you and @lyndsey think is best.

Another thing I noticed was how the presenters are taxonomy terms. Looking over http://lets.getopensocial.com/manual-event-managers it seems like that functionality would already serve our need.

Is that available on our site?

[2017-09-08 22:22] gusaus commented on #37
Does hiding the big ass hero block look better on pages?
http://live-dojo-os.pantheonsite.io/About

Also
![about drupal dojo 2017-09-08 18-21-43](https://user-images.githubusercontent.com/113996/30233292-9249a9e4-94c2-11e7-8374-6873fee12638.png)

[2017-09-10 21:36] ikit-claw opened #44 "Youtube"
Youtube art work, [arranged]
Youtube banner art, [arranged]
Youtube video art, [arranged]
Youtube intro video? What should we include who should do it?

[2017-09-10 21:41] ikit-claw commented on #37
Good point The creator information should be turned off but it is still displaying. I will have a word see if I can figure it out.

[2017-09-10 21:51] ikit-claw commented on #25
See https://github.com/DrupalOpenLearning/drupaldojo/issues/44

Should be able to get all our art needs just need to drill down on what we like the feel of.

[2017-09-10 21:51] #25 closed

[2017-09-12 08:55] ikit-claw commented on #37
I'm persisting with the opensocial issue but we may have to just live with this for awhile.

https://drupal.slack.com/files/U24KS2TCY/F71Q3V2AH/about___drupal_dojo_-_google_chrome_2017-09-12_09.53.34.png

[2017-09-12 08:56] ikit-claw commented on #1
Since we referenced this and can still access it via the other topics closing this one.

[2017-09-12 08:56] #1 closed

[2017-09-12 08:57] ikit-claw commented on #8
Soon as we have everything ironed out I will do a case study on the dojo on d.org for us.

[2017-09-12 09:03] ikit-claw commented on #37
It is hard coded into node-full.html.twig @gusaus I can subtheme it out if you like? @lyndsey thoughts before I proceed?

[2017-09-12 09:06] ikit-claw commented on #34
More of a call to action we are seemingly proceeding nicely. Closed but we still need to get details and nail people into date/times

[2017-09-12 09:06] #34 closed

[2017-09-12 09:20] ikit-claw commented on #13
RSS is also hard coded see issue https://github.com/DrupalOpenLearning/drupaldojo/issues/37

More bad practises lol

[2017-09-12 09:34] ikit-claw commented on #37
Confirmed bug and should not have to hardcode my way around it they say now.

[2017-09-12 09:35] ikit-claw commented on #19
See Art work conv https://github.com/DrupalOpenLearning/drupaldojo/issues/44

Time for something new and fresh :)

[2017-09-12 09:37] ikit-claw commented on #14
Great work @lyndsey lets keep this going we can blog about it later.

[2017-09-12 09:38] ikit-claw commented on #15
A conversation was finalised at the last group meeting on how to handle this.

[2017-09-12 09:39] ikit-claw commented on #28
Thanks, I know what we need now closing this.

[2017-09-12 09:39] #28 closed

[2017-09-12 09:43] ikit-claw commented on #35
This one is obvious will badger people via slack now we have a session.

[2017-09-12 09:43] #35 closed

[2017-09-12 17:58] gusaus commented on #36
Still awaiting word back from @joshkoenig regarding the pointing or transferring back of the the domains.

Now that we're back to doing sessions beginning yesterday, we should go live with http://live-dojo-os.pantheonsite.io/ before the next ones.

[2017-09-12 18:43] joshkoenig commented on #36
Whoa awesome! I think I only have the .com but happy to point it there. :)

[2017-09-12 19:04] joshkoenig commented on #36
DNS is still propogating and HTTPS is being provisioned, but I can route .org as of now:

http://drupaldojo.org/

Also made this a "developer community project" and upgraded to Pro.

[2017-09-12 19:12] gusaus commented on #36
Amazing - thank you so much! @ikit-claw We need to add the Pantheon logo in the footer and will also credit on the sponsor section when we get that set up.

Anything else we need to do (aside from working in your Dojo goals and vision for the reboot)!!

[2017-09-12 20:47] #36 closed

[2017-09-12 22:42] gusaus commented on #38
Quite possibly following how Drupalcon breaks out tracks would be overkill to begin with. We could actually start by creating groups for tracks or initiatives in which we have some role -

- Building with Drupal https://groups.drupal.org/node/52023
- Drupal Community Spotlight - https://www.drupal.org/association/blog/kickstarting-the-drupal-community-spotlight
- Drupal for Nonprofits (or whatever

[2017-09-13 16:45] ikit-claw commented on #44
Intro video to be determined, Youtube is mostly set up now.

[2017-09-13 16:45] #44 closed

[2017-09-13 18:25] gusaus opened #18 "Update the Dojo video production requirements"
We should provide guidelines and assets so community members can produce their own Dojo videos. Linked are the very old guidelines that should serve as a restarting point -
https://groups.drupal.org/node/8916

Possibly it would be best to draft the new guidelines on this wiki and then copy the finished page onto the new site and other places these docs should reside.

https://github.com/DrupalOpen

[2017-09-13 18:25] gusaus opened #45 "Update the Dojo video production requirements"
We should provide guidelines and assets so community members can produce their own Dojo videos. Linked are the very old guidelines that should serve as a restarting point -
https://groups.drupal.org/node/8916

Possibly it would be best to draft the new guidelines on this wiki and then copy the finished page onto the new site and other places these docs should reside.

[2017-09-13 19:00] gusaus opened #19 "Update guidelines for producing and attending a live Dojo session"
We should provide some guidelines for producing and attending a live Dojo session on the website and other relevant places around the web.

https://github.com/DrupalOpenLearning/drupaldojo/wiki/Producing-and-attending-a-live-Dojo-session

[2017-09-13 19:00] gusaus opened #46 "Update guidelines for producing and attending a live Dojo session"
We should provide some guidelines for producing and attending a live Dojo session on the website and other relevant places around the web.

https://github.com/DrupalOpenLearning/drupaldojo/wiki/Producing-and-attending-a-live-Dojo-session

[2017-09-13 19:15] gusaus commented on #19
Just realized I previously created  https://github.com/DrupalOpenLearning/drupaldojo/issues/30

Think we should leave these issues open until we get that new page set up on the site. We also probably have some revisions to add based on doing our first session!?!

[2017-09-13 20:26] gusaus commented on #7
@ikit-claw I think we should have our dev process posted on the site where those working on the site can reference. Possibly we can first post in our wiki?

[2017-09-13 20:52] gusaus opened #20 "Create guidelines on how to coordinate an in-person Dojo event"
We should create some guidelines how to coordinate an in-person Dojo event. Possibly we could use Coder Dojo as a guide - https://coderdojo.com/start-a-dojo/

[2017-09-13 20:52] gusaus opened #47 "Create guidelines on how to coordinate an in-person Dojo event"
We should create some guidelines how to coordinate an in-person Dojo event. Possibly we could use Coder Dojo as a guide - https://coderdojo.com/start-a-dojo/

[2017-09-13 21:21] gusaus opened #21 "Create Get Involved section"
We need to provide a 'Get Involved' section - it should contain the following pages and should have a menu in the footer:

- [ ] Host a Drupal Dojo Event https://github.com/DrupalOpenLearning/drupaldojo/issues/47
- [ ] Produce an online Drupal Dojo Session https://github.com/DrupalOpenLearning/drupaldojo/issues/46
- [ ] Attend a Drupal Dojo
- [ ] Sponsor https://github.com/DrupalOpenLearning/drupa

[2017-09-13 21:21] gusaus opened #48 "Create Get Involved section"
We need to provide a 'Get Involved' section - it should contain the following pages and should have a menu in the footer:

- [ ] Host a Drupal Dojo Event https://github.com/DrupalOpenLearning/drupaldojo/issues/47
- [ ] Produce an online Drupal Dojo Session https://github.com/DrupalOpenLearning/drupaldojo/issues/46
- [ ] Attend a Drupal Dojo
- [ ] Volunteer
- [ ] Sponsor

What other pages should we

[2017-09-13 21:38] gusaus commented on #15
We briefly touched on this but still need to determine levels and create the page. For the latter, we'll most likely embed one of the Open Collective widgets initially https://opencollective.com/widgets

[2017-09-14 16:21] gusaus commented on #8
@ikit-claw Couple reasons why the Dojo should have a project on d.o. -
- the community can help manage as a Drupal learning project
- we can use the project space and issue queue for training purposes - similar to https://www.drupal.org/project/ghop

A case study is a great idea, but should be a component of the 'how we built and how you can participate' training and curriculum we'll produce (budg

[2017-09-14 20:56] gusaus commented on #16
Has this been set up on the new site?

[2017-09-14 21:09] ikit-claw commented on #16
@gusaus it's installed just needs defining. I wasn't asked to define it @lyndsey have you configured pathauto to your liking?

[2017-09-19 12:13] ikit-claw commented on #8
@gusaus Okay but if we do that I want to stop using github for issues I don't want to duplicate them to death.

[2017-09-19 12:13] ikit-claw commented on #16
This has been inactive since asking so I am closing.

[2017-09-19 12:39] ikit-claw commented on #39
@gusaus added

[2017-09-19 12:39] #39 closed

[2017-09-19 12:42] ikit-claw commented on #41
@gusaus BOF?

[2017-09-19 12:49] ikit-claw commented on #40
@gusaus added with the option to auto add other software types as people do different session it is hard to predict what we will need to list.

[2017-09-19 12:49] #40 closed

[2017-09-19 12:53] ikit-claw commented on #38
@gusaus added

[2017-09-19 12:53] #38 closed

[2017-09-19 15:18] ikit-claw commented on #11
@gusaus not sure. Seems a lot of things are buggy lol

[2017-09-19 16:19] ikit-claw opened #22 "Update twitch guidelines based on feedback"
We're gathering feedback from our initial Dojo sessions on Twitch in this issue and will incorporate into our guidelines - https://github.com/DrupalOpenLearning/drupaldojo/wiki/Setting-up-your-Twitch-and-OBS-for-stream-recording

Please help us out by watching the vids and providing feedback in the comments -

- Drupal 8 Views Tutorial  https://www.twitch.tv/videos/174062701
- Intro to ELMS:LN (pa

[2017-09-19 16:19] ikit-claw opened #49 "Update twitch stream with feedback."
invite to stream to channel via twitch use official channel easier to promote people know where to go.
change format to MP4.
local record optional recommends screen share and record via a better connect for those who have a system that might not be able to handle it.
mouse option did not seem to be enabled OBS config
The video was still recorded at 1080 reviewing the session it didn't downscale.
S

[2017-09-20 12:03] ikit-claw commented on #26
Updated and added

[2017-09-20 12:03] #26 closed

[2017-09-20 12:08] #42 closed

[2017-09-20 14:51] #41 closed

[2017-09-20 15:08] ikit-claw commented on #15
@gusaus do we want a very similar layout individual sponsors/sponsorships and generic sponsor page? Badcamp has all of those.

[2017-09-21 00:28] ikit-claw commented on #22
if you have a channel you can host the dojo by entering /host drupaldojo from your channels chat.

[2017-09-22 15:39] gusaus commented on #22
One thought discussed in #drupal-dojo was having someone (who is inaudible) ask questions of the presenter cases moments of dead air... we should figure out a better way to go about that.

@daggerhart found this vid where they use "Game capture” to capture skype audio and suggested this might work w/ slack calls as well https://youtu.be/Hc4_qGNYVsg

[2017-09-22 15:41] gusaus commented on #22
We also need to provide guidelines on how to credit presenters, producers, and sponsors in the videos https://github.com/DrupalOpenLearning/drupaldojo/issues/45

[2017-09-24 15:57] mmilutinovic013 commented on #22
@gusaus  -- I know that Twitch has buttons that can be added to streams for sponsors, adds, links, etc. Maybe we do some research on how to implement that with OBS?

[2017-09-25 05:53] gusaus commented on #10
Per a quick convo with @lyndsey in #drupal-dojo, I think we should set this up. Especially since we already have at least one ongoing project https://github.com/elmsln/openulmus.org/issues/6

Will we be setting this up on the live environment?

[2017-09-25 13:55] ikit-claw commented on #22
@gusaus I've been troubleshooting the issue with dagg and he has found it is a mac issue you need an additional program to record the incoming audio.

[2017-09-25 13:57] ikit-claw commented on #22
https://obsproject.com/forum/resources/setting-up-mac-desktop-sound-capture-with-wavtap.79/

[2017-09-25 14:41] ikit-claw commented on #10
@gusaus @lyndsey who is going to set it up?

It doesn't matter if you do it in live or dev. As long as you merge it up to live when it is ready.

Obviously, the safest way would be the dev.

[2017-09-28 22:21] gusaus commented on #7
In addition to outlining our Pantheon dev process, we still need someone to take on the Pantheon/sysadmin role. Per https://github.com/elmsln/openulmus.org/issues/3#issuecomment-321382520 this could be a potential role for @danielrose28 ?

[2017-09-28 22:57] gusaus opened #50 "Create project group for ELMS, Open Ulmus, and related projects"
Once the structure worked out https://github.com/DrupalOpenLearning/drupaldojo/issues/9 we can create a project group to showcase ongoing Dojo sessions, events, sprints, etc. involving ELMS:LN, Open Ulmus and related projects. The group could be managed by @mmilutinovic1313 or other ELMS:LN contributors.

I'm assuming we'd want to have an umbrella group for ELMS Learning Network, rather than havin

[2017-09-29 04:49] gusaus opened #51 "Evaluate/create project group for Drupal 8 Accessible NFP Theme"
Per discussions in Slack, a project group for the Drupal 8 Accessible NFP Theme being discussed as a DD&I mentoring project https://github.com/drupaldiversity/administration/issues/135 and previously as a Drupal Open Learning project https://github.com/orgs/DrupalOpenLearning/projects/3

I think creating a project group to help drive this should be an excellent proof of the 'how we can help promot

[2017-10-02 03:52] lyndsey commented on #17
@johnatasjmo I'm going to create a specific task for the issue of not being able to edit the group a content item eg topic, event has been assigned to.

This task is general set up notes and assessment.

[2017-10-02 03:57] lyndsey opened #17 "Fix: Unable to assign or reassign content to a group once content item is created"
I believe this is a group issue and not an opensocial issue as such. There is a user experience problem here though because content needs to be recreated if it's added to the wrong spot, or needs to be reassigned.

Have not checked drupal.org for corresponding task. Assigning to @johnatasjmo as per comment in task DrupalOpenLearning/drupaldojo-old#17

[2017-10-02 03:57] lyndsey opened #52 "Fix: Unable to assign or reassign content to a group once content item is created"
I believe this is a group issue and not an opensocial issue as such. There is a user experience problem here though because content needs to be recreated if it's added to the wrong spot, or needs to be reassigned.

Have not checked drupal.org for corresponding task. Assigning to @johnatasjmo as per comment in task #17

[2017-10-02 04:09] lyndsey opened #16 "CSS: Reduce the height of innerpage headings eg groups"
Unless there are really lovely images these big headers just aren't working - can we reduce the height of the headers please? I'm also inclined to shrink the background images too although that is secondary.

I am going to create an alternate inner Drupal Dojo header that is also a reduced height, there needs to be one because it just looks terrible on pages where there is no header at all.

An ex

[2017-10-02 04:09] lyndsey opened #53 "CSS: Reduce the height of innerpage headings eg groups"
Unless there are really lovely images these big headers just aren't working - can we reduce the height of the headers please? I'm also inclined to shrink the background images too although that is secondary.

I am going to create an alternate inner Drupal Dojo header that is also a reduced height, there needs to be one because it just looks terrible on pages where there is no header at all.

An ex

[2017-10-02 08:48] lyndsey commented on #16
New banner and module for inner pages at half height created and module placed

[2017-10-02 10:22] lyndsey opened #54 "Fix & Explore: Bugs in public groups"
Have only created one public group so have not tested to replicate. Issues are with Community Spotlight group - created as a public group - when i created it added me as a member twice, although I couldn't see my name in the member list. Tried to add a topic to the group - got "You are not authorised to access this resource" error message. Removed myself from group and readded - issue still occurs

[2017-10-02 10:26] lyndsey commented on #54
A few d.o. tasks that are related (note I have not assessed in detail)
https://www.drupal.org/node/2859563
https://www.drupal.org/node/2890526

[2017-10-02 10:31] lyndsey commented on #17
Here is a document I am working on to explain group permissions. Also see issue with public groups here -
#54  https://docs.google.com/document/d/17bAXWYilGAF3k3GkswN1Ehkjtht3ITg52Tol1045jGY/edit?usp=sharing

[2017-10-02 21:41] gusaus commented on #54
Assuming we're talking about http://drupaldojo.com/spotlight-group

I joined and tried to create both a topic and event. Both instances I got the same message -
![group events drupal dojo 2017-10-02 17-11-26](https://user-images.githubusercontent.com/113996/31099655-bd060cce-a794-11e7-83ee-7c8a80e89dbc.png)

Upon digging around a bit, it looks like the issue may be the plugins need to be installed

[2017-10-03 04:01] johnatasjmo commented on #17
So how many groups to create: NB, Public, Open, Closed?

[2017-10-03 17:47] gusaus commented on #6
I added the webmaster role to the wiki https://github.com/DrupalOpenLearning/drupaldojo/wiki/Team#webmaster

With the site now live with many blocked/spammy users it's important we have someone responsible for managing. I think this would be a great entry level role for an apprentice wanting to gain hands on experience with Drupal and Open Social.

[2017-10-03 18:46] gusaus commented on #6
While we're currently using the out-of-the-box Open Social theme, building new theme would a great way to learn and contribute back to the community. @lyndsey I believe there's overlap with what we're talking about here? https://github.com/DrupalOpenLearning/drupaldojo/issues/51

[2017-10-04 18:48] gusaus opened #55 "Create group for Building With Drupal program"
With our weekly 'Building With Drupal' sessions back in production, we should create a group on the Dojo website.

[2017-10-04 20:25] gusaus opened #56 "Create group, structure, and content strategy for Community Spotlight"

[2017-10-04 20:39] gusaus opened #57 "Create group, structure, and content strategy for Drupal Diversity & Inclusion Contrib Team"

[2017-10-04 20:56] gusaus opened #58 "Create group, structure, and content strategy for Drupal Dojo program"

[2017-10-04 21:25] gusaus commented on #7
@ikit-claw Per our Slack convo, I think having the process documented will make it easier for contributors. I don't see anything wrong with making Dojo flavored modifications to the existing Pantheon docs -

- https://pantheon.io/docs/pantheon-workflow/
- https://pantheon.io/docs/drupal-8-configuration-management/

We also want to make sure we're following along with our current development enviro

[2017-10-10 22:10] ikit-claw opened #59 "Should we add social login to the Dojo site?"
And if so does anyone recommend a specific module for Drupal 8? Please vote below

http://www.strawpoll.me/14122150

[2017-10-12 23:09] gusaus commented on #54
@lyndsey Does the 'public group' ship with Open Social or was it a group type we set up? The reason we could post events or topics is they needed to be installed -

![image](https://user-images.githubusercontent.com/113996/31523164-eade01e0-af7f-11e7-94d0-5ee70497df83.png)

We also have the option of enabling 'page' and 'book page' if we choose.

The next step is setting the appropriate permission

[2017-10-12 23:18] gusaus commented on #54
Just noticing https://github.com/DrupalOpenLearning/drupaldojo/issues/17#issue-251866909 is about the public group type @lyndsey set up.

[2017-10-13 17:06] ikit-claw commented on #37
Fixed in 1.5

[2017-10-13 17:06] #37 closed

[2017-10-13 17:44] gusaus commented on #21
Have we decided how we want to structure this section on the site? Should we do something similar to how Open Social set up their Manuals?
![higher roles content manager and site manager manual open social community and manuals 2017-10-13 13-39-03](https://user-images.githubusercontent.com/113996/31558673-e51d8b30-b01b-11e7-9ece-dfcb21723452.png)

http://lets.getopensocial.com/authenticated-user-m

[2017-10-16 20:59] ikit-claw commented on #54
@gusaus I think we have a handle on the group's stuff. The public group works @lyndsey isn't going to be available much.

[2017-10-20 18:44] gusaus opened #60 "Create group, structure, and content strategy for the Drupal Open Learning program"

[2017-10-20 22:38] gusaus commented on #6
@mmilutinovic1313 As we try to put all these projects under the same umbrella, I'd like to consolidate roles with https://github.com/DrupalOpenLearning/drupalopenlearning/issues/2 and https://github.com/elmsln/openulmus.org/issues/2 wherever it makes sense.

The difference in platforms (Open Social vs. ELMS) and hosting systems (Pantheon vs. AWS) may require different sized hats, but possibly the

[2017-10-23 03:42] mmilutinovic013 commented on #6
@gusaus - have we identified these Open Social experts already? Or is this a task that should be created? I like the idea of consolidation as long as we have the right experts leading each of the efforts. Mentors should be experts in their respective position and alignment.

[2017-10-23 21:11] gusaus commented on #6
@mmilutinovic1313 We've received some great advice from @miesz-ko, one of Open Social project leads (and co-founder of the company who developed it) in this very thread,  https://github.com/DrupalOpenLearning/drupaldojo/issues/5#issuecomment-320894670 https://github.com/DrupalOpenLearning/drupaldojo/issues/5#issuecomment-320905320 but we need someone available to commit a certain amount of time/wk

[2017-10-24 00:31] mmilutinovic013 commented on #6
I kind of want to say that role should merge with the Site Architect role. This person will be responsible for guiding the vision of the website as they will have the best technical and tribal knowledge of Open Social as a platform.

[2017-10-24 02:09] mmilutinovic013 commented on #6
@gusaus would you be interested in the social media / outreach position? Added that role as I believe it is relevant.

[2017-10-24 05:00] gusaus commented on #6
@mmilutinovic1313 Re https://github.com/DrupalOpenLearning/drupaldojo/issues/5#issuecomment-338835462 I think we should be consistent with how we're defining roles for any other Open Ulmus/Drupal Open Learning project. We might need to elaborate more on what @btopro is riffing on https://github.com/elmsln/openulmus.org/issues/2#issuecomment-338069402 to determine which hat is worn for site archite

[2017-10-25 23:24] gusaus commented on #7
@cleverington Per our discussion regarding your recommendations for incorporating local dev tools into our Pantheon environment https://github.com/drupaldiversity/contrib/issues/17#issuecomment-339180777

We have a sponsored Pantheon professional environment, which I think could provide a wide range of learning opportunities.

If you’re interested helping manage our workflows, and at the same time

[2017-10-26 01:30] mmilutinovic013 commented on #6
I can work to reduce the roles in this case and add more "tasks" to each of the roles to reflect this. We should, I do think that one of the PM's should do Social Media/outreach.

[2017-10-26 02:51] cleverington commented on #7
## Small Update

Spoke with the friend who works with Kalabox and Lando a lot.

The GUI for Lando is 'planned', but probably will be sometime in another year, so it would probably be okay to move forward with using Kalabox.io -based instructions for those who want to be contributors.

[2017-10-26 16:25] gusaus commented on #7
@cleverington I think I can speak for everybody who has set up and managed the environment so far. Whatever you recommend and are comfortable with is great!  Kalabox and Lando being open source projects https://www.kalabox.io/ may also provide some opportunity to get contributors involved with those projects via Drupal Dojo sessions and mentoring projects.

So are you interested in taking the lead

[2017-10-26 16:38] gusaus commented on #6
Here's the brief intro from @cleverington regarding some of the amazing he can do -

Sounds like the perfect person to be the sysadmin mentor for the Dojo site. If that works for you @cleverington, possibly you can add some detail regarding what your role will entail? https://github.com/DrupalOpenLearning/drupaldojo/wiki/Team#technology-managersysadmin

We can also discuss here or in #drupal-dojo

[2017-10-27 18:51] gusaus commented on #21
This guidebook put together by @cleverington actually contains a lot of what we're looking to provide for Dojo organizers and contributors https://github.com/DrupalOpenLearning/drupaldojo/issues/48#issue-257525301
https://drupal-diversity.gitbooks.io/drupal-organizer-resources/content/

Possibly it can be the basis for our Dojo guide?

[2017-10-27 20:29] cleverington commented on #21
Group effort. :) I just converted it into the GitBook format. :)

[2017-11-18 00:53] gusaus opened #61 "Install public group module"
Niels from Open Social has kindly provided us with access to their public group module -

https://docs.google.com/document/d/1JBRKuc-raU764g965F1j26HwLfV-0Lohc4tOsOX0dRg

@cleverington Does this provide you with enough info to install in our Pantheon dev environment?

[2017-11-18 01:09] gusaus commented on #7
@cleverington Would a new release of https://www.drupal.org/project/social and https://github.com/DrupalOpenLearning/drupaldojo/issues/61 be a good reason to take a look at our Pantheon development environment?

Surely @ikit-claw will happily walk your through the current setup/Open Social workflow if it means he doesn't have to feel the pain of the last update!

[2017-11-18 01:32] gusaus commented on #20
Referencing this [fairly large Slack thread](https://drupal.slack.com/archives/C1BCR7XL6/p1510407037000086) to provide some background around what hopefully could be a community wide collaboration around what I mentioned to @cleverington here https://github.com/DrupalOpenLearning/drupaldojo/issues/48#issuecomment-340055703

We'd like to help bring together people/groups that seem to be working on

[2017-11-18 01:47] gusaus commented on #21
Assigning over to @cleverington to coordinate and delegate.

[2017-11-18 01:59] gusaus commented on #19
What we're trying to achieve here may overlap with the course @kat-wehr is in the process of outlining for the Open Ulmus/ELMS:LN intro https://github.com/elmsln/openulmus.org/issues/6#issuecomment-345351907

[2017-12-08 09:02] gusaus commented on #7
Based on our convo in Slack, I 'think' we've decided to create a custom upstream for the Dojo and subsequent sites with similar requirements. We also need to update to the latest Open Social and add an additional module https://github.com/DrupalOpenLearning/drupaldojo/issues/61 as noted above. Also should we incorporate multidev into our workflows? Might that be helpful if additional contributors

[2017-12-15 08:50] gusaus commented on #15
Here's a working draft for Dojo website sponsorship -
https://docs.google.com/document/d/1wJfHp7D1RSMuwcDd0z5GU90-kdpkNkNqSBwnbvjXO9I/edit?usp=sharing

Still working on copy, but the backer / sponsor levels are open for feedback and review! @cleverington @mmilutinovic1313

[2018-03-09 01:01] gusaus commented on #5
As mentioned in Drupal Slack (before the logs disappeared), we're going to use #drupal in [OpenCollective Slack](https://slack.opencollective.com/) to finish this project scope and fill out roles needed to develop/update/maintain the site.

Main reason (aside from being able to access logs) is there are project leads, sponsoring orgs, Drupal Association community liaisons, and other stakeholder ty

[2018-03-09 02:18] gusaus commented on #6
Based on shifting priorities and time constraints of people who helped move this forward last year, I think we need to fill out every role https://github.com/DrupalOpenLearning/drupaldojo/issues/5#issue-248103504 to complete and maintain this project. With a completed scope of work (that includes a budget estimate) it _should not_ be difficult to find mentors for each of these roles. A project lik

[2018-03-09 03:08] gusaus commented on #61
The public groups module is now included https://www.drupal.org/project/social/issues/2931510

So updating to the latest version on Pantheon should do the trick!

[2018-03-09 03:08] #61 closed

[2018-03-27 23:35] gusaus commented on #6
Per our recent discussions in #drupaldojo and #drupalopenlearning, @dsquaredb is going to take the lead in managing our Pantheon development environment and workflows! DrupalOpenLearning/drupaldojo-old#2

[2018-03-28 00:21] gusaus commented on #7
@dsquaredb Given the fact we'll be in a better position to document our process after we refine our ddev flow, after we're set up... aside from adding you to our Pantheon team, what would you suggest in terms of updating our code?

Assuming we should wait for the impending Open Social security release https://www.drupal.org/project/social/issues/2956045 before we determine what (if any) issues may

[2018-03-29 19:09] dsquaredb commented on #7
Sorry for the delay in responding. Was a little busy yesterday. :)
Now maybe I can turn some attention to this. Have you added me to the Pantheon team?

[2018-03-29 22:06] gusaus commented on #7
@dsquaredb I think most of Drupal Slack went quiet for a good bit of time yesterday! Even I had to force myself back into developer mode.

I added your email associated with github to the Pantheon team. Ping me in Slack if you're not able to access upstreams, multidev, or anything related to the Pantheon account.

We're wide open to suggestions on how to setup/manage the environment and additional

[2018-03-30 10:04] ikit-claw commented on #7
@dsquaredb thanks for stepping up

[2018-04-04 08:27] gusaus commented on #7
Based on further discussions with @rickmanelius we're sold on the idea of incorporating DDEV into our workflow:

As touched on in this issue, we're currently 'not' pulling from https://github.com/lquessenberry/OpenSocialOnPantheon because it's outdated.

Based on that, I’m thinking we should take a fresh look at [my comment here](https://github.com/lquessenberry/OpenSocialOnPantheon/issues/2#issue

[2018-04-07 01:18] gusaus commented on #7
Moving some more of our Slack related slack discussion here.

Following up to @rickmanelius below -

In looking at some of your other repos (https://github.com/drud), it seems like these types of upstreams may be another good way to draw developers and customers to your tools and services.

If you set up on OpenCollective there could be more ways to incentivize contributions from community members

[2018-04-07 01:31] gusaus commented on #59
Pretty sure this now ships with Open Social - if not, we'll create a new issue.

[2018-04-07 01:31] #59 closed

[2018-04-07 01:33] gusaus commented on #54
This issue should be resolved once we upgrade to the latest version. If not we'll reopen.

[2018-04-07 01:33] #54 closed